body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: sans-serif;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

a {
	color: rgb(102, 102, 102);
	/* background-color: rgba(0, 0, 0, 0.253); */
	padding: .3em;
	text-decoration: none;
	z-index: 10;
}
button {
	outline: none;
	text-decoration: none;
	border: none;
	background-color: rgb(12, 12, 12);
	color: white;
	mix-blend-mode: darken	;
	border-radius: 5px;
	margin: 2em;
	padding: .5em;
	transition: .15s ease-in;
}
button:hover {
	background-color: rgb(100, 100, 100);
}
a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

a, button, input, select {
	pointer-events: auto;
}

.lil-gui {
	z-index: 2 !important; /* TODO Solve this in HTML */
}

#defaultCanvas0 {
	display: none;
}
#sphereCanvas {
	position: absolute;	
	/* background-color: pink;
	border: #f00 5px solid; */
	margin: auto;
	bottom: 0%;
}

@media all and ( max-width: 640px ) {
	.lil-gui.root { 
		right: auto;
		top: auto;
		max-height: 50%;
		max-width: 80%;
		bottom: 0;
		left: 0;
	}
}

#overlay {
	position: absolute;
	font-size: 16px;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0,0,0,0.7);
}

	#overlay button {
		background: transparent;
		border: 0;
		border: 1px solid rgb(255, 255, 255);
		border-radius: 4px;
		color: #ffffff;
		padding: 12px 18px;
		text-transform: uppercase;
		cursor: pointer;
	}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: #f00;
	margin-top: 20px;
	padding: 10px;
}


#slider-container {
	text-align: center;
	/* border: rgb(55, 0, 255) soli	d 1px; */
	padding: 0;
	position: absolute;
	width: 100%;
	height: 8em;
	z-index: 5;
	bottom: 7%;
	mix-blend-mode: darken 	;
}
.slider-indiv-container {
	padding: .6em 2em;
	text-align: center;
	/* border: rgb(0, 255, 234) solid 1px; */
	display: inline-block;
}

.circle-slider {
	/* background-color: pink; */
	border-radius: 50%;
	position: relative;	

	/* border: rgb(0, 162, 255) solid 1px; */
	display: inline-block;
}
.slider-overlay {
	background-color: rgb(252, 84, 112);
	border: rgb(0, 162, 255) solid 1px;
	/* border-radius: 50%; */
	height: 50px;
	width: 50%;
	position: fixed;

	/* border: rgb(0, 162, 255) solid 1px; */
	display: inline-block;
}
.circle-slider .rs-handle  {
    background-color: black;
	border: rgb(255, 255, 255) solid 3px;
}

.anchor-div {
	z-index: 10;
	position: absolute;
}
#slider-button-container {
	text-align: center;
	/* border: rgb(145, 255, 0) solid 1px;
	background-color: rgba(255,0,122,.5); */
	padding: 0;
	position: absolute;
	width: 100%;
	height: 1.5em;
	bottom: 10%;
	vertical-align: middle;
	z-index: 4;
	padding: 2em 0em;
}
.slider-btn {
	padding: 0;
	height: 1.5em;
	width: 1.5em;
	margin: 0 4.6em;
	border-radius: 50%;
	background-color: rgba(0,0,0,0);
	border: black 2px solid;
	z-index: 5; 
	transition: .1s ease-in;
}
#results-container {
	font-size: 2em;
	font-weight: BOLD;
	z-index: 5;
	text-align: center;
	font-family: Helvetica, sans-serif;
	color: rgb(34, 34, 34);
	/* border: rgb(145, 255, 0) solid 1px;
	background-color: rgba(255,0,122,.5); */
	padding: 0;
	position: absolute;
	width: 100%;
	height: 10%;
	bottom: 2%;
	vertical-align: middle;
	padding: 0em 0em;
}
.activeBtn {
	background-color: black;
}
.slider-btn:hover {
	background-color: rgb(0, 0, 0);
}

video {
	width: 25%;
	padding: 2%;

}

#vid-div {
	width: 800px;
	/* border: red 1px solid; */
	margin: auto;
}